/* @import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Monsieur+La+Doulaise&family=UnifrakturCook:wght@700&display=swap"); */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Georgia", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* header {
  font-family: "Monsieur La Doulaise", cursive;
  text-decoration: none;
} */

.oldFont {
  /* font-family: 'Berkshire Swash', cursive; */
  font-family: "Monsieur La Doulaise", cursive;
  /* font-family: 'Fleur De Leah', cursive; */
  text-decoration: none;
  color:black;
}

.pageLinks {
  text-decoration: none;
  color:black;
}

main {
  font-family: "Georgia", serif;
}
